<%- include('./header', {url:url,ogp_image_url:ogp_image_url,app_id:app_id}) %>
<body>
  <nav class="navbar navbar-default navbar-shrink" />
    <div class="container">
      <div class="navbar-header page-scroll">
      	<a class="navbar-brand page-scroll" href="/">遺書一筆</a>
      </div>
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
		    <a class="nav navbar-nav navbar-right" href="https://www.facebook.com/<%= profile.id %>" target="_blank"><img src="https://graph.facebook.com/v2.10/<%= profile.id %>/picture" /></a>
            </div>
        <div class="bgimage">
          <div class="container">
            <p><%= profile.displayName %> さんは、遺書を書いたようです。</p>
            <p>あなたも書いてみませんか？
            <a href="/auth/facebook" title="Faceboo Login" class="btn btn-facebook">
              <i className="fa fa-facebook fa-fw"></i>書いてみる（facebookログイン）
            </a>
          </p>
            <div class="isyo-secret" />
          </div>
        </div>
      </div>
    </body>
</html>
