<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>遺書一筆</title>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/isyo.css">

  <!-- Custom CSS -->
  <link href="/css/agency.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="/js/fb.me/react-0.13.3.min.js"></script>
  <script src="/js/fb.me/JSXTransformer-0.13.3.js"></script>
  <script src="/js/react-bootstrap.min.js"></script>

</head>
<body>
  <div className="bgimage">
    <div className="container">
      <nav class="navbar navbar-default navbar-shrink">
        <div class="container">
          <a class="navbar-brand page-scroll" href="#page-top">遺書一筆</a></div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="bgimage"><div class="container"><div>
              <div class="lined-paper">
                <p>aaa</p>
                <p>bbb</p>
              </div>
            </div>
            <a href="/#/edit"><button class="btn btn-primary" >編集する</button></a>
          </div>
        </div>
      </div>
</body>
</html>
